{% extends "terminimal/templates/index.html" %}

{% block extra_head %}
{%- if config.extra.meta_description %}
<meta name=”description” content=”{{ config.extra.meta_description }}”>
{% endif -%}

<link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) | safe }}">

{%- if config.extra.ga_id %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.ga_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ config.extra.ga_id }}');
</script>
{% endif -%}
{% endblock %}